        <!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="/Assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{authentication.userName}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Trực tuyến</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="treeview">
            <a href="/admin#!/admin">
                <i class="fa fa-home"></i> <span>Trang chủ</span> 
                <!--<i class="fa fa-angle-left pull-right"></i>-->
            </a>
        </li>
        <li class="treeview">
            <a href="javascript:void(0);">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span>Quản lý user</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="application_groups"><i class="fa fa-circle-o"></i> Nhóm user</a></li>
                <li><a ui-sref="application_roles"><i class="fa fa-circle-o"></i> Quyền user</a></li>
                <li><a ui-sref="application_users"><i class="fa fa-circle-o"></i> Danh sách user</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="javascript:void(0);">
                <i class="fa fa-files-o"></i>
                <span>Quản lý sản phẩm</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="product_categories"><i class="fa fa-circle-o"></i> Danh mục sản phẩm</a></li>
                <li><a ui-sref="products"><i class="fa fa-circle-o"></i> Danh sách sản phẩm</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="javascript:void(0);">
                <i class="fa fa-list-ul"></i>
                <span>Quản lý đơn hàng</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="orders"><i class="fa fa-circle-o"></i> Danh sách đơn hàng</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="javascript:void(0);">
                <i class="fa fa-edit"></i>
                <span>Quản lý bài viết</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="post_categories"><i class="fa fa-circle-o"></i> Danh mục bài viết</a></li>
                <li><a ui-sref="posts"><i class="fa fa-circle-o"></i> Danh sách bài viết</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="javascript:void(0);">
                <i class="fa fa-comment-o"></i>
                <span>Quản lý phản hồi</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="feedbacks"><i class="fa fa-circle-o"></i> Danh sách phản hồi</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="javascript:void(0);">
                <i class="fa fa-area-chart"></i>
                <span>Thống kê</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a ui-sref="statistic_revenue"><i class="fa fa-circle-o"></i> Thống kê doanh thu</a></li>
            </ul>
        </li>
    </ul>
</section>