
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="shoes-grid">
    <div class="row shoes-grid-left" >
        <div class="col-md-12" style="margin-top:30px; border:1px solid #ddd">
                <img class="img-responsive shoe-left" src="../../Assets/client/images/girl3.jpg" alt="" />
                <div class="clearfix"> </div>
        </div>
        <div class="col-md-12 " style="margin-top:30px;font-size: 1em;">
            <p>
                SMQSHOP là một Bootstrap thương mại điện tử đi kèm với một mẫu thiết kế web Responsive miễn phí bằng phẳng.
                Bạn có thể sử dụng mẫu này cho bất kỳ loại trang web mua sắm trực tuyến nào như Amazon, Snapdeal, Jabong, Myntra.
                Mẫu web này được xây dựng theo kiểu Fancy nhưng có thể được sử dụng theo yêu cầu của người dùng.
                Smq Shope được thiết kế với một bảng màu tốt và kiểu dáng lưới điện tốt. Đây là một số điểm mạnh cần xem xét nếu bạn dự định sử dụng mẫu thiết kế web miễn phí này.
            </p>  
        </div>
        <div class="col-md-12" style="margin-top:30px; border:1px solid #ddd">
            <img class="img-responsive shoe-left" src="../../Assets/client/images/girl1.jpg" alt="" />
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-12 " style="margin-top:30px; font-size: 1em;">
            <p>
                SMQSHOP là một website được thực hiện để hoàn thành đồ án tốt nghiệp nó cũng như các website bán hàng khác thực hiện đầy đủ các chức năng cơ bản của một website.
                Website thực hiện mô phỏng việc bán hàng online trên mạng với các sản phẩm hết sức đa dạng và phong phú đáp ứng nhu cầu của tất cả các khách hàng.
            </p>
        </div>
    </div>
</div>
