
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="shoes-grid">
    <div class="row shoes-grid-left" >
        <div class="col-md-12" style="margin-top:30px; border:1px solid #ddd">
                <img class="img-responsive shoe-left" src="../../Assets/client/images/girl3.jpg" alt="" />
                <div class="clearfix"> </div>
        </div>
        <div class="col-md-12 " style="margin-top:30px;font-size: 1em;">
            <p>
                Smq Shop is a Ecommerce Bootstrap that comes with a free Flat Responsive web design template.
                You can use this template for any type of online shopping websites like Amazon, Snapdeal, Jabong, Myntra.
                This web template is built in a Fancy style however it can be used  as per the user requirements.
                Smq Shope designed with a good color scheme and good grid style of elements. These are some strong points to consider if you plan to use this free web design template.
            </p>  
        </div>
        <div class="col-md-12" style="margin-top:30px; border:1px solid #ddd">
            <img class="img-responsive shoe-left" src="../../Assets/client/images/girl1.jpg" alt="" />
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-12 " style="margin-top:30px; font-size: 1em;">
            <p>
                This entry was posted in Ecommerce Online Shopping and tagged Bootstrap, Bootstrap Templates, eCommerce, Flat, Flat UI, Online Shopping, Responsive, Responsive Templates. Bookmark the permalink. Posted on January 17, 2015 by hidayath.
            </p>
        </div>
    </div>
</div>
