@using Microsoft.AspNet.Identity;
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="#"><label> </label></a></li>
                    <li><a href="#">Support Online</a></li>
                </ul>
                <ul class="support">
                    <li class="van"><a href="#"><label> </label></a></li>
                    <li><a href="/gioi-thieu.html"><span class="live">Introduction</span></a></li>
                </ul>
                <ul class="support">
                    <li class="#"><a href="#"><label> </label></a></li>
                    <li><a href="/lien-he.html"><span class="live">Contact</span></a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="top-header-right">
                <!---->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="/"><img src="../../Assets/client/images/logo.png" alt="" /></a>
                </div>
                <div class="search">
                    <form method="get" action="/tim-kiem.html">
                        <input type="text" id="txtKeyword" name="keyword" placeholder="Enter name" />
                        <input type="submit" value="Search" id="btnSearch">
                    </form>


                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
              @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new {@id="frmLogOut"}))
              {
                  if (Request.IsAuthenticated)
                  {
                    @Html.AntiForgeryToken()
                    <ul class="login">
                        <li><a href="/tai-khoan.html"><span> </span>HELLO:@User.Identity.GetUserName()</a></li> |
                        <li><a href="#" id="btnLogOut">EXIT</a></li>
                    </ul> 
                  }
                  else
                  {
                    <ul class="login">
                        <li><a href="/dang-nhap.html"><span> </span>LOGIN</a></li> |
                        <li><a href="/dang-ky.html">REGISTER</a></li>
                    </ul>
                  }
              }
                <div class="cart"><a href="/gio-hang.html"><span> </span>YOUR CART</a></div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
