<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20" />
  <add key="MaxPage" value="5" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="quyvn317@gmail.com"/>
  <add key="FromEmailPassword" value="10101954"/>
  <add key="FromName" value="SMQ"/>
  <add key="AdminEmail" value="quyvn317.dev@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:7694/"/>
  <add key="ReportFolder" value="/Reports"/>
</appSettings>
